body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
    max-width: 400px;
    word-wrap: break-word;
}



input{
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    border: 1px solid;
    border-color: teal;
    border-radius: 3px;
    margin-bottom: 5px;
 
}
button{
    font-weight: bolder;
    color: white;
    background-color: teal;
    border-radius: 3px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-color: teal;
    border: 2px ;
    font-size: 15px;
    
}
li a{
    color: teal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
ul li{
    color: teal;
    font-weight: 10px;
}


